extends ../dashboard 

block content   
	.body-tb-generic
		h1.h1-tb-generic= `Products👚 Bin 🗑️ ${products.length}`
		table.rwd-table
			tr
				th(style='width:13%') Image
				th(style='width:13%') Name
				th(style='width:30%') Description
				th(style='width:5%') Price
				th(style='width:5%') Size
				th(style='width:5%') Color
				th(style='width:15%') Brand-Material-Pattern
				th(style='width:2%') %
				th(style='width:2%') Rating
				th(style='width:5%') State
				th(style='width:5%') Updated At
					br 
					p (day/month/year)
			each product in products
				tr
					td(data-th='Image')
						img(src=`/img/products/${product._id}/${product.imageCover}` style='width:300px; height:200px;')
					td(data-th='Name')= product.name
					td(data-th='Description')= product.description
					td(data-th='Price')= `${(product.price/1000).toFixed(3)}đ`
					td(data-th='Size')= product.size
					td(data-th='Color')= product.color
					td(data-th='Info')= `${product.brand} - ${product.material} - ${product.pattern}`
					td(data-th='Discount' style='text-align:center')= product.discount
					td(data-th='Rating')= `${product.ratingsAverage}⭐/${product.ratingsQuantity}✔️`
					td(data-th='State')
						if(product.outOfStock)
							img(src='/icon/out-of-stock.png')
						else 
							img(src='/icon/left-stock.png')
					td(data-th='UpdatedAt')= product.updatedAt.toLocaleString('vi-vn')
					td
						a.btnRestore(href='#' title='Restore' style='text-align:center' data-price=`${product.price}` data-id=`${product._id}`) Restore(In stock)⤴️
					td
						a.btnDelete(href='#' title='Delete' style='text-align:center' data-price=`${product.price}` data-id=`${product._id}`) Delete❌
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js')
	script(src='//cdn.jsdelivr.net/npm/sweetalert2@11')
	script(src='/js/handleProductBin.js' type='module')