extends ../dashboard 

block content   
	.body-tb-generic
		h1.h1-tb-generic= `Products👚 Bin 🗑️ ${products.length}`
		table.rwd-table
			tr
				 th(style='width:15%') Image
				th(style='width:15%') Name...
				th(style='width:32%') Description...
				th(style='width:23%') Brand-Material-Pattern-Color-Size-Discount-Prize
				th(style='width:2%') Color
				th(style='width:5%') Rating
				th(style='width:2%') State
				th(style='width:2%') Updated At
					br 
					p (day/month/year)
			each product in products
				tr
					td(data-th='Image')
						img(src=`/img/products/${product._id}/${product.imageCover}` style='width:300px; height:200px;')
					td(data-th='Name')= product.name
					td(data-th='Description')
						div(style='height:250px; overflow:hidden;')= product.description
					td(data-th='Info')
						p=`*Brand: ${product.brand}`
						p=`*Material: ${product.material}`
						p=`*Pattern: ${product.pattern}`
						p= `*Size: ${product.size}`
						p= `*Discount: ${product.discount+'%'}`
						p= `*Price: ${(product.price/1000).toFixed(3)}đ`
					td(data-th='Color')= product.color
					td(data-th='Rating')= `${product.ratingsAverage}⭐/${product.ratingsQuantity}✔️`
					td(data-th='State')
						if(product.outOfStock)
							img(src='/icon/out-of-stock.png')
						else 
							img(src='/icon/left-stock.png')
					td(data-th='UpdatedAt')= product.updatedAt.toLocaleString('vi-vn')
					td
						a.link.btnRestore(href='#' title='Restore' style='text-align:center' data-price=`${product.price}` data-id=`${product._id}`) Restore(In stock)⤴️
					td
						a.link.btnDelete(href='#' title='Delete' style='text-align:center' data-price=`${product.price}` data-id=`${product._id}`) Delete❌
block extraScript
	script(src='/js/handleProductBin.js' type='module')