extends dashboard 

block content   
	.body-tb-generic
		h1.h1-tb-generic Orders
		table.rwd-table
			tr
				th Id
				th Date
					br 
					p (D/M/Y)
				th Purchased Products
				th Total Payment 
				th State               
				th Payment Mode
			each order in orders
				tr
					td(data-th='Id') 
						a(href='#')= order._id
					td(data-th='Date')= order.createdAt.toLocaleString('vi-vn', {day: 'numeric', month: 'numeric', year: 'numeric'})
					td(data-th='PurchasedProducts')
						each product, index in order.purchasedProducts
							p= `${index+1}. ${product.name}.`
							br
					td(data-th='TotalPayment')= order.totalPayment
					td(data-th='Sate')= order.state
					td(data-th='paymentMode' style="text-align:center")= order.paymentMode
					td
						a(href='#' title='Delete' style='text-align:center') Cancel❎